---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SectionHeading from '../components/SectionHeading.astro';
import Card from '../components/Card.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import projects from '../utils/projects.json'
const repositories = projects.viewer.repositories.nodes;

const categories = new Map();
repositories.forEach(repo => {
  if ([
    "web-ascii-theater",
    "vercel-ui-clone",
    "datsfilipe.dev",
    "ignews",
    "github-search",
    "dashgo",
    "tabnews-clone",
    "my-rices",
  ].includes(repo.name)) {
    if (categories.has("Websites")) {
      categories.get("Websites").push(repo);
    } else {
      categories.set("Websites", [repo]);
    }
  }

  if ([
    "unix-scripts",
    "dotfiles",
    "datsnvim"
  ].includes(repo.name)) {
    if (categories.has("Configurations")) {
      categories.get("Configurations").push(repo);
    } else {
      categories.set("Configurations", [repo]);
    }
  }

  if ([
    "min-theme.nvim",
    "smooth-theme",
    "paradise-vscode",
    "hyper-smooth-theme",
    "vs-code-omni-customized",
  ].includes(repo.name)) {
    if (categories.has("Themes")) {
      categories.get("Themes").push(repo);
    } else {
      categories.set("Themes", [repo]);
    }
  }

  if ([
    "gen-readme",
    "list-manager",
  ].includes(repo.name)) {
    if (categories.has("Tools")) {
      categories.get("Tools").push(repo);
    } else {
      categories.set("Tools", [repo]);
    }
  }

  if ([
    "react-jokenpo",
    "sudoku",
    "binary-rain",
    "safe-cats",
  ].includes(repo.name)) {
    if (categories.has("Games/4Fun")) {
      categories.get("Games/4Fun").push(repo);
    } else {
      categories.set("Games/4Fun", [repo]);
    }
  }

  if ([
    "rinha-backend-go",
    "elixir-inets-server",
    "webrtc-server"
  ].includes(repo.name)) {
    if (categories.has("Backend")) {
      categories.get("Backend").push(repo);
    } else {
      categories.set("Backend", [repo]);
    }
  }

  if ([
    "kv-sketchbook",
    "storybook-genie",
    "writedown",
    "central-nickgabe",
    "phived",
  ].includes(repo.name)) {
    if (categories.has("Cool things I've contributed to")) {
      categories.get("Cool things I've contributed to").push(repo);
    } else {
      categories.set("Cool things I've contributed to", [repo]);
    }
  }
});
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="mb-12 max-w-3xl mx-auto px-4">
      <h1 class="text-3xl font-bold mb-8 mt-8 px-4 py-2 bg-blue-600 w-fit" transition:animate="slide">
        Projects!
      </h1>
      {["Websites", "Configurations", "Themes", "Tools", "Games/4Fun", "Backend", "Cool things I've contributed to"].map(category => (
        <div>
          <SectionHeading title={category} />
          <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            {categories.get(category).map(repo => (
              <Card repo={repo} category={category} />
            ))}
          </div>
        </div>
      ))}
    </main>
  </body>
  <Footer/>
</html>