---
import { FaExternalLinkAlt, FaGithub } from 'react-icons/fa';
import {
  PiStarBold
} from 'react-icons/pi';
const { contribution } = Astro.props;
---
<div class="flex flex-col p-4 h-full bg-stone-600">
  <div class="flex items-center justify-between">
    <a
      href={contribution.html_url}
      class="px-4 py-2 bg-stone-800 hover:no-underline"
      rel="noopener noreferrer"
      target="_blank"
      aria-label={contribution.name}
      title={contribution.name}
    >
      <h2 class="flex items-center space-x-2 text-xl font-bold">
        <FaGithub size={18} />
        <span>{contribution.name}</span>
      </h2>
    </a>
    <span class="flex items-center space-x-1">
      <PiStarBold size={18} />
      <span class="font-mono mt-[3px]">{contribution.stargazers_count}</span>
    </span>
  </div>
  <div class="flex flex-col h-full my-4">
    <p class="mb-2">{contribution.description}</p>
    <b class="mt-auto">
      {contribution.homepage && (
        <a
          href={contribution.homepage}
          class="flex items-center space-x-1"
          rel="noopener noreferrer"
          target="_blank"
          aria-label={contribution.name + " deploy"}
          title={contribution.name + " deploy"}
        >
          <span>Deploy</span>
          <FaExternalLinkAlt size={12} />
        </a>
      )}
    </b>
  </div>
  <div class="flex w-full items-center mt-auto justify-between">
    <div class="flex items-center space-x-2">
      <img
        src={contribution.owner.avatar_url}
        alt={contribution.owner.login}
        class="w-8 h-8 rounded-full border border-blue-600"
        loading="lazy"
      />
      <a
        href={'https://github.com/' + contribution.owner.login}
        rel="noopener noreferrer"
        target="_blank"
        aria-label={contribution.owner.login + " github"}
        title={contribution.owner.login + " github"}
      >
        {contribution.owner.login}
      </a>
    </div>
    <span>{contribution.language}</span>
  </div>
</div>