---
import { FaExternalLinkAlt, FaGithub } from 'react-icons/fa';
const { repo, category } = Astro.props;
---
{category === "Websites" || category === "Games/4Fun" ? (
  <div>
    <a href={repo.url} target="_blank" rel="noopener noreferrer">
      <h3>{repo.name}</h3>
      <p>{repo.description}</p>
    </a>
    <a href={repo.homepageUrl} target="_blank" rel="noopener noreferrer">
      <FaExternalLinkAlt />
    </a>
    <span>{
      repo.defaultBranchRef.target.history.nodes[0].committedDate
    }</span>
  </div>
) : (
  <div>
    <a href={repo.url} target="_blank" rel="noopener noreferrer">
      <h3>{repo.name}</h3>
      <p>{repo.description}</p>
    </a>
    <a href={repo.homepageUrl} target="_blank" rel="noopener noreferrer">
      <FaGithub />
    </a>
    <span>{
      repo.defaultBranchRef.target.history.nodes[0].committedDate
    }</span>
  </div>
)}