---
import { FaStar, FaExternalLinkAlt, FaGithub } from 'react-icons/fa';
const { contribution } = Astro.props;
---
<div class="flex flex-col p-4 h-full bg-stone-600">
  <div class="flex items-center justify-between">
    <h2 class="text-xl font-bold">
      <a
        href={contribution.html_url}
        class="flex items-center space-x-2"
        rel="noopener noreferrer"
        target="_blank"
      >
        <FaGithub size={18} />
        <span>{contribution.name}</span>
      </a>
    </h2>
    <span class="flex items-center space-x-1">
      <FaStar size={18} />
      <span class="font-mono mt-[5px]">{contribution.stargazers_count}</span>
    </span>
  </div>
  <div class="flex flex-col h-full my-4">
    <p class="mb-2">{contribution.description}</p>
    <b class="mt-auto">
      {contribution.homepage && (
        <a
          href={contribution.homepage}
          class="flex items-center space-x-1"
          rel="noopener noreferrer"
          target="_blank"
        >
          <span>Deploy</span>
          <FaExternalLinkAlt size={12} />
        </a>
      )}
    </b>
  </div>
  <div class="flex w-full items-center mt-auto justify-between">
    <div class="flex items-center space-x-2">
      <img
        src={contribution.owner.avatar_url}
        alt={contribution.owner.login}
        class="w-8 h-8 rounded-full border border-blue-600"
        loading="lazy"
      />
      <a
        href={'https://github.com/' + contribution.owner.login}
        rel="noopener noreferrer"
        target="_blank"
      >
        {contribution.owner.login}
      </a>
    </div>
    <span>{contribution.language}</span>
  </div>
</div>