---
import SocialLinks from './SocialLinks.astro';
import OtherLinks from './OtherLinks.astro';

import {
  NAME,
  ROLE,
  FRONT_STACK,
  BACK_STACK,
} from '../consts';

const makePlainText = (stack: string[]): string => stack.map((item: string) => {
  if (item === stack[stack.length - 1]) {
    return item;
  }

  return `${item}, `;
}).join('');

const PLAIN_TEXT_FOR_FRONT_STACK = makePlainText(FRONT_STACK);
const PLAIN_TEXT_FOR_BACK_STACK = makePlainText(BACK_STACK);
---
<section class="flex flex-col sm:flex-row justify-between sm:space-x-8 mt-4">
  <div class="flex-shrink-0 items-center">
    <img
      fetchpriority="high"
      src="https://github.com/datsfilipe.png"
      alt="Filipe's GitHub avatar"
      class="rounded-lg mx-auto mt-4 mb-2"
      width="256"
      height="256"
    />
    <span class="w-full mt-6 mb-2 flex justify-center sm:justify-start">
      <b class="text-lg font-semibold">Social Links!</b>
    </span>
    <SocialLinks/>
  </div>
  <div class="flex flex-col items-center sm:items-start sm:justify-start mt-4 sm:mt-0">
    <h1 class="text-2xl font-bold my-4 p-2 bg-blue-600 w-fit" transition:animate="slide">
      Hi, I'm {NAME}!
    </h1>
    <p class="my-2 text-justify">
      I'm a 21-year-old <b>{ROLE}</b> based in Brazil with a strong focus on the web. I've gained remote development experience and contributed to open source projects.
    </p>
    <p class="my-2 text-justify">
      I mainly use <b>{PLAIN_TEXT_FOR_FRONT_STACK}</b>, and more for front-end and <b>{PLAIN_TEXT_FOR_BACK_STACK}</b>, and more for back-end projects.
    </p>
    <p class="my-2 text-justify">
      In my free time, I indulge in <a aria-label="ricing" title="ricing" href="https://jie-fang.github.io/blog/basics-of-ricing" class="text-blue-500" target="_blank" rel="noopener noreferrer">ricing</a>, gaming, movie watching, and coding personal projects.
    </p>
    <h1 class="text-2xl font-bold my-6">
      Others!
    </h1>
    <OtherLinks/>
  </div>
</section>