---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

import { SITE_TITLE } from '../consts';
const { title, summary, publishedAt, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={summary} image={heroImage}/>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
      integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ" crossorigin="anonymous"
    >
	</head>
	<body>
		<Header title={SITE_TITLE}/>
		<main class="mb-12 max-w-3xl mx-auto px-4 min-h-[80vh] my-8">
      <div class="flex flex-col space-y-2 my-6">
        <h1 class="text-4xl font-bold bg-blue-600 px-4 py-2" transition:animate="slide">
          {title}
        </h1>
        <span class="text-stone-500 text-lg font-semibold self-end">
          <FormattedDate date={publishedAt}/>
        </span>
        {heroImage && <img
          src={heroImage}
          alt="hero image"
          class="w-full h-64 object-cover rounded-md border border-stone-600"
        />}
      </div>
      <section class="max-w-full">
        <article class="prose xl:prose-lg prose-quoteless prose-neutral dark:prose-invert prose-p:text-justify mb-8">
          <slot />
        </article>
      </section>
		</main>
		<Footer/>
	</body>
</html>